/* variables de color para facilitar la gestion de paletas*/
:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
}

/*tamaño base del texto en el html*/
html{
    font-size: 62.5%; /*1rem = 10px para calculos sencillos*/
    box-sizing: border-box; /*hack para box model */
    scroll-snap-type: y mandatory;
}
*, *:before, *:after {
    box-sizing: inherit;
  }
/*Estilo generales para el cuerpo del documento*/
body{
    font-size: 16px;/* 1rem = 10 px por defecto*/
    font-family: "Krub", sans-serif; /*fuente principal*/
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
}

.sombra{
    box-shadow: 0px 5px 15px 0px rgba(117,113,117,1);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;

}
/*tipogrfia*/
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1,h2,h3{
    text-align: center;
}
/*titulo principal de la pagina*/



/*estilo para el texto dentro del titulo*/
/*titutos*/
.titulo span  {
    font-size: 2rem ; /*un poco mas pequeño que el titulo princiapal*/
    

}
/*utilidades*/

.w-sm-100 {
    width: 100%;
}
@media (min-width: 768px) {
    .w-sm-100 {
      width:auto ;  
    }
}
.flex {
    display: flex;

}
.alinear-derecha {
    justify-content:flex-end ;
}

/*contenedor centralizado con ancho maximo en 1200px*/
.contenedor{
    max-width: 120rem;
    margin: 0 auto; /*centrado automatico*/
 
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}
@media (min-width: 768px) {
    .boton{
        width:auto;
    }
    
}
.boton:hover {
    cursor: pointer;
}
/*fondo azul para la barra de navegacion*/
/*navegacion principal*/
.nav-bg {
    background-color: var(--secundario);
}

/*estilos de la barra de navegacion*/
.navegacion-principal{
  display: flex;
  flex-direction: column;
    
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between; /*distribucion de enlaces de navegacion*/
    }
}

.navegacion-principal a{
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

.hero {
    background-image: url(../image/hero.jpg); /*imagen css*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 20px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero {
    position: absolute;
    background-color: rgb(0,0,0, .8);
    background-color: rgb(0 0 0 / 70%);
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;


    display: flex;
    flex-direction: column; 
    align-items: center;/*alinear de manera vertical*/
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);
}

.ubicacion {
    display: flex;
    align-items: flex-end;
}
/*scroll snap*/
.servicios,
.navegacion-principal,
.formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
@media (min-width: 768px) {
    /*servicios*/
    .servicios {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; /* 1fr = 33.3% tabla*/
    /* grid: 200px 800px  / 300px 300px manera simplificada*/
    column-gap: 1rem;
}
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3 {
    color: var(--secundario);
}
.servicio p {
    line-height: 2;
    text-align: center;
}

.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
/*CONTACTO*/
.formulario {
    background-color: var(--gris);
    width: min(60rem, 100% ); /*utilizar el valor mas pequeño*/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}
@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }    
}

.campo:nth-child(3),
.campo:nth-child(4) {
    grid-column: 1 / 3;
    
}

.campo {
    margin-bottom: 1rem;
}
.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: 2rem;
    display: block;  /*borrar despues en campo label o mejorarlo*/
}

.campo textarea {
    height: 20rem;

}
.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;

}

.enviar .boton {
    width: 100%;
}
    

/* footer*/
.footer {
    text-align: center;
}
.boton {
    margin-top: 80px;
   
}